body{
    background-color: black !important;
}

#q{
    color: white;
    margin-top: 200px;
    margin-left: 450px;
}

#yes,#no{
    border-radius: 10px;
}

#yes{
    margin-left: 460px;
}
